.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* media query */

@media (max-width: 768px) {
    .main {
        height: 100%;
        margin-bottom: 0px;
    }
}

@media (max-width: 480px) {
    .main {
        height: 100%;
        margin-bottom: 0px;
    }
}

/* smartphones media query */

@media (max-width: 390px) {
    .main {
        height: 100%;
        margin-bottom: 0px;
    }
}